/*CSS*/

* {
  margin: 0;
  padding: 0;
}

.div-centered {
  width: 65%;
  margin: 0 auto;
  background-color: rgb(30, 30, 30);
}

body {
  font-family: sans-serif;
  background-color: rgb(20, 20, 20);
  color: rgb(185, 185, 185);
  position: relative;
}

.main-header {
  background-color: rgb(15, 15, 15);
  padding: 30px 40px;
  border-top: solid 5px rgb(0, 0, 0);
  border-bottom: solid 5px rgb(0, 0, 0);
}

aside {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 30px;
  background-color: rgb(20, 20, 20);
  border-top: solid 5px rgb(0, 145, 255);
  border-bottom: solid 5px rgb(0, 145, 255);
}

/*styling links--------------------*/
a:link,
a:visited {
  font-size: 18px;
  color: rgb(0, 145, 255);
  text-decoration: none;
}

a:hover,
a:active {
  color: rgb(255, 255, 255);
}
/*---------------------------------*/

/*styling button--------------------*/
.button-like {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.3s;
  position: absolute;
  bottom: 80px;
  right: 5px;
}

.button-like:hover,
.button-like:active {
  background-color: rgb(9, 132, 227);
}
/*---------------------------------*/

/*images---------------------------*/
.laura-jones {
  padding-left: 10px;
  padding-bottom: 10px;
  width: 8%;
  height: auto;
}

.post-img {
  width: 65%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
}

.img-authors {
  width: 60px;
  height: 60px;
}
/*---------------------------------*/

/*color of h1,h2,h3----------------*/
h1,
h2,
h3 {
  color: white;
}
/*---------------------------------*/

.code-magazine {
  padding-bottom: 20px;
  font-size: 40px;
}

.basic-language {
  font-size: 35px;
  padding: 10px 10px;
  margin-bottom: 30px;
  position: relative;
}

.nav-header {
  font-size: 22px;
  text-align: left;
}

nav a:link {
  margin-right: 40px;
  display: inline-block;
}

nav a:last-child {
  margin-right: 0px;
}

h3 {
  padding: 25px 10px;
  font-size: 25px;
}

h4 {
  font-size: 20px;
  text-align: center;
}

p {
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: lighter;
}

.copyright {
  font-size: 16px;
}

.author {
  font-size: 16px;
}

.related-author {
  font-size: 16px;
  font-weight: lighter;
}

.related-posts {
  list-style: none;
}

ol,
ul {
  padding-left: 60px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

footer {
  padding: 10px 10px;
}

/*pseudo-elements-------------------*/

/*h2::first-letter {
  font-size: 80px;
}*/

/*h3 + p::first-line {
  color: red;
}*/

h2::after {
  content: "Top";
  background-color: yellow;
  color: black;
  font-size: 16px;
  font-weight: lighter;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
}

/*---------------------------------*/

/*pseudo-classes-------------------*/
/*li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: red;
}*/

/*---------------------------------*/
